<div id="wrap">
  <h2 id="title">Yous</h2>
  <div id="intro">
    <p><b>ChaYoung You</b></p>
    <p>KAIST 11 Mathematical Sciences</p>
    <p>GoN, 검우회</p>
    <p>Ruby on Rails</p>
    <p><img src="http://gon.kaist.ac.kr/gonhacker.png" title="GoN"/></p>
    <p>Sources : <a href="http://github.com/yous" target="_blank">github.com/yous</a></p>
    <p>E-mail : <a href="mailto:chacha@kaist.ac.kr">chacha@kaist.ac.kr</a></p>
  </div>
  <%= link_to "Back", root_path %>
</div>
