// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightgray: #EEE;
$gray: #888;
$navy: #036;
$link: #06E;

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "Malgun Gothic", Dotum, sans-serif;
  background-color: $navy;
}
a {
  color: $link;
}
#wrap {
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px 0 20px 0;
  background-color: white;
  text-align: center;
}
#title {
  margin: 20px 0 20px 0;
  width: 100%;
  font-family: "Comic Sans MS", sans-serif;
  span {
    vertical-align: middle;
    color: firebrick;
    font-size: 55px;
    font-weight: 600px;
    margin-right: 20px;
  }
  img {
    vertical-align: middle;
  }
}
#service {
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    a, li {
      list-style: none;
      margin: 5px;
      padding: 5px 10px 5px 10px;
      display: inline;
      color: black;
      text-decoration: none;
      cursor: pointer;
      background-color: $lightgray;
    }
  }
}
.submenu {
  display: none;
  a {
    text-decoration: none;
    line-height: 200%;
  }
}
#explain {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px 50px 10px 50px;
  background-color: $lightgray;
  box-shadow: 0 0 10px 2px $gray;
  text-align: left;
  img {
    height: 25px;
  }
}
#copy {
  margin: 10px auto;
  a {
    color: black;
    font-weight: bold;
  }
  a:hover {
    background-color: skyblue;
  }
}
